# Web Server & Real-time
flask==2.3.2
flask-sock==0.6.0
python-dotenv

# Computer Vision & AI Frameworks
opencv-python==4.7.0.72
numpy
ultralytics
openvino
openvino-dev

# Deep Learning Backend
torch
torchvision

# Tracking & Utilities
deep-sort-realtime
